a.nav-link {
    padding-top:3px;
}

a:hover.nav-link {
    padding-bottom:3px;
}

a:hover.nav-link > div {
    height : 13px;
    width : 100%;
    border-bottom : 3px #007bffbe solid;
    border-left : 1px #007bffbe solid;
    border-bottom-right-radius : 25%;
    margin-left : -4px;
    margin-top : -8px;
}