a.nav-link {
    padding-top:3px;
}

a:hover.nav-link {
    padding-bottom:3px;
}

a:hover.nav-link > div {
    height : 13px;
    width : 90%;
    border-bottom : 3px #007bff solid;
    border-left : 1px #007bff solid;
    border-bottom-right-radius : 70%;
    margin-left : -5px;
    margin-top : -10px;
}